proshare/src/main/resources/application.properties

ML/Data/Generated/config.json

ML/base_dir.json

proshare/base_dir.json

ML/images/

ML/Data/Generated/trees/

ML/__pycache__/

sqldumps/

.DS_Store
