<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

<title>Explainable Privacy: User Study</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
</style>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

</head>

<body>

	<div th:replace="fragments/navbar.html :: navbar-landingpage"></div>

	<h2 style="text-align: center">Explainable Privacy User Study Instructions</h2>

	<div class="container">

		<div
			th:replace="fragments/training-progress.html :: training-progress(
			completed = ${index.trainCompleted}, 
			minRequired = 30, 
			maxBonus = 20, 
			skipped = ${index.trainSkipped})">
		</div>

		<p>
			Suppose that you are a user of a photo-sharing website called <b>ProShare</b>. On ProShare, you
			also have several friends.
		</p>

		<p>In the following pages, we will show you a series of photos. Suppose that these photos
			belong to you. We will provide a context for each photo, indicating whether you or your family
			members are in it or when you took that photo.</p>

		<p>For each photo, you need to select one of the following options.</p>

		<ul>
			<li>If you select the <b>Share</b> option, all your friends on Proshare will be able see the
				corresponding photo.
			</li>
			<li>If you select the <b>Do not share</b> option, your photo will remain private&mdash;only
				you will be able to view your photo.
			</li>
			<li>Select the <b>Skip</b> option if the context of the photo is not clear to you. Please do
				NOT use this option frequently.
			</li>
		</ul>

		<p>
			Once you select one of the above options, click the <b>Next</b> button to go to the next photo.
			(If need be, you can click the <b>Prev</b> button to to revisit a previous photo and change your
			decision about it.)
		</p>

		<ul>
			<li>You are required to select a sharing decision for a minimum 30 photos to receive the
				reward (USD 3) for the HIT.</li>
			<li>After making sharing decision for 30 photos, you can make decisions for additional
				photos for a bonus reward. You will receive a bonus of five cents for each additional photo you
				label. You can get bonus for a maximum of 20 photos.</li>
			<li>Skipped photos do not count for the minimum requirement or bonus.</li>
			<li>The <b>User Study Progress</b> panel at the top of the page (like the one shown in this
				page) shows your progress.
			</li>
		</ul>

		<p>
			After you make decisions for 30 photos, you can get the completion code from the <a
				href="/payment">Payment</a> tab above.
		</p>

		<p>
			If you have any questions about this study, please contact the researchers&mdash;Hitesh Sapkota (<a
				href="mailto:hxs1943@rit.edu">hxs1943@rit.edu</a>) and Dr. Pradeep Murukannaiah (<a
				href="mailto:pkmvse@rit.edu">pkmvse@rit.edu</a>). Please copy both researchers in your email.
		</p>

		<h4 class="text-center">
			Click the <a href="/training">Training</a> tab to start labeling photos...
		</h4>

	</div>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
		$(function() {
			$("#popupevaluation").hide();
			$("#popuptraining").hide();
			$('a#evaluation-link').click(function() {
				$("#popupevaluation").show();
				$("body").addClass("submit-progress-bg");

				return true;
			});
			$('a#training-link').click(function() {
				$("#popuptraining").show();
				$("body").addClass("submit-progress-bg");

				return true;
			});

		});
	</script>

</body>
</html>






















