<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />



<title>Explainable Privacy: User Study</title>

	<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.submit-progress-bg {
    background-color: lightgray;
    opacity: .5;
    }


  .submit-progress {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 6em;
  padding-top: 2.3em;
  /* The following rules are the
     ones most likely to change */
  width: 20em;
  /* Set 'margin-left' to a negative number
     that is 1/2 of 'width' */
  margin-left: -10em;
  padding-left: 2.1em;
  background-color: blue;
  color: white;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
  -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
  -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
}
.submit-progress i {
  margin-right: 0.5em;
}

</style>


	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
$(function()
{
$("#popupbox").hide();
  $('#register-submit').on('click',function()
  {
     $("#popupbox").show();
     $("body").addClass("submit-progress-bg");

    return true;
  });

});
</script>

	<link rel="stylesheet" type="text/css"
		  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
</head>
<body>
<div class="topnav">
	<a href="/">Home</a>
	<a href="/about">About</a>


	<a href="#contact">Contact</a>

</div>

	<br>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered</div>
				</div>

				<h1>Registration</h1>
				<form th:action="@{/registration}" th:object="${user}" method="post">

					<div id="popupbox" class="submit-progress">
						<i class="fa fa-2x fa-spinner fa-spin"></i>
						<label>Please wait Storing Details...</label>
					</div>
					<div class="form-group">
						<p class="error-message"
						   th:each="error : ${#fields.errors('gender')}" th:text="${error}">Validation
							error</p>
					</div>


					<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
						th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
						error</p>


					<div class="form-group"
						th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
						<label for="email" class="control-label">E-mail</label> <input
							id="email" class="form-control" th:field="*{email}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
							error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
						<label for="confirmEmail" class="control-label">Confirm
							e-mail</label> <input id="confirmEmail" class="form-control"
							th:field="*{confirmEmail}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('confirmEmail')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
						<label for="password" class="control-label">Password</label> <input
							id="password" class="form-control" type="password"
							th:field="*{password}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('password')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
						<label for="confirmPassword" class="control-label">Confirm
							password</label> <input id="confirmPassword" class="form-control"
							type="password" th:field="*{confirmPassword}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('confirmPassword')}"
							th:text="${error}">Validation error</p>
					</div>

					<div class="form-group">
						<label for="mturkId" class="control-label">Mturk Id</label> <input
							id="mturkId" class="form-control" th:field="*{mturkId}" required/>
						<p class="error-message"
						   th:each="error: ${#fields.errors('mturkId')}"
						   th:text="${error}">Validation error</p>
					</div>

					<div class="form-group">

					<h3>What is your gender?</h3>
					<label class="radio-inline">
						<input type="radio"  name="gender" value="male">Male
					</label>
					<label class="radio-inline">
						<input type="radio"  name="gender"  value="female">Female
					</label>
					<label class="radio-inline">
						<input type="radio" name="gender"  value="other">Other
					</label>
					<label class="radio-inline">
						<input type="radio"  name="gender"  value="na">Prefer Not to Answer
					</label>
					</div>

					<div class="form-group">

					<h3>Which of the following categories includes your age?</h3>
					<label class="radio-inline">
						<input type="radio" name="age" value="1824">18&ndash;24
					</label>
					<label class="radio-inline">
						<input type="radio" name="age" value="2534">25&ndash;34
					</label>
					<label class="radio-inline">
						<input type="radio" name="age" value="3544">35&ndash;44
					</label>
					<label class="radio-inline">
						<input type="radio" name="age" value="4554">45&ndash;54
					</label>
					<label class="radio-inline">
						<input type="radio" name="age" value="55plus">55 or Older
					</label>
					</div>

					<div class="form-group">

					<h3>What is the highest level of school you have completed or
						the highest degree you have received?</h3>
					<label class="radio-inline">
						<input type="radio" name="education" value="less_highschool">Less than high school degree
					</label>
					<label class="radio-inline">
						<input type="radio" name="education" value="highschool">High school degree or equivalent (e.g., GED)
					</label>
					<label class="radio-inline">
						<input type="radio" name="education" value="college_nodegree">Some college but no degree
					</label>
					<label class="radio-inline">
						<input type="radio" name="education" value="bachelor_degree">Bachelor degree
					</label>
					<label class="radio-inline">
						<input type="radio" name="education" value="graduate_degree">Graduate degree
					</label>
					</div>

					<div class="form-group">

					<h3>How often do you use social media (e.g., Facebook, Google
						Plus, Flickr, Twitter, LinkedIn)?</h3>

					<label class="radio-inline">
						<input type="radio" name="socialmediaFrequency" value="daily">Daily
					</label>
					<label class="radio-inline">
						<input type="radio" name="socialmediaFrequency" value="weekly">About once a week
					</label>
					<label class="radio-inline">
						<input type="radio" name="socialmediaFrequency" value="monthly">About once a month or less often than that
					</label>
					<label class="radio-inline">
						<input type="radio" name="socialmediaFrequency" value="never">Never used social media
					</label>

					</div>

					<div class="form-group">
					<h3>How many pictures showing you and others have you ever shared
						via social media or email?</h3>
					<label class="radio-inline">
						<input type="radio" name="sharingFrequency" value="several">Several (&gt;10)
					</label>
					<label class="radio-inline">
						<input type="radio" name="sharingFrequency" value="few">A few (1&ndash;10)
					</label>
					<label class="radio-inline">
						<input type="radio" name="sharingFrequency" value="none">None (0)
					</label>
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
						<input id="terms" type="checkbox" th:field="*{terms}" />   <label
							class="control-label" for="terms"> I agree with the <a
							href="#">terms and conditions</a> for Registration.
						</label>
						<p class="error-message"
							th:each="error : ${#fields.errors('terms')}" th:text="${error}">Validation
							error</p>
					</div>



					<div class="form-group">
						<button type="submit" class="btn-success", id="register-submit">Register</button>
					</div>


				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>